*{
    box-sizing: border-box;
}

.container{
width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-image: url(./images/telegram-bacground.jpg);
    background-repeat: no-repeat;
    background-size: 850px;
    background-position-x: right;
    /* border: 1px solid black; */
}

.box-header{
width: 1200px;
height: 90px;
/* border-radius: 10px; */
background-color: rgba(99, 174, 235, 0.993);
}

.link-header{
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;

}

.span-1{
    width: 70px;
    height: 5px;
    border-radius: 3px;
    margin-bottom: 15px;
    display: block;
    background-color: white;
}

.telegram{
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    margin-left: 100px;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 50px;
    color: white;
   
}

.avatar-box{
    position: relative;
    z-index: 3;
    left: 685px;
    top: 3px;
    display: inline-block;
    width: 75px;
    height: 75px;
}

.avatar{
    position: relative;
    z-index: 2;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.avtar-tochka{ 
    position: absolute;
    z-index: 2;
right: 49px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
} 

.avatar-tochka-2{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: rgb(2, 218, 2);
}


/* ----section-------============================================================================================================ */


.list-wrapper{

    width: 350px;
    border: rgb(143, 141, 141) solid 1px;
}

.list{
list-style: none;

}


.list-item{
    position: relative;
    z-index: 1;
display: flex;
padding: 5px;

border-bottom: rgb(165, 164, 163) solid 1px;

}

.list-item:hover p{

    font-size: 25px;
    color: blue;
}


.list-item:hover .drop-down{
    display: block;
}

.list-item img{

    border-radius: 50%;
}

.list-item p{
   
    margin: 0;
    padding-left: 30px;
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 33px;
}


.list-item-link{
    position: relative;
display: flex;
align-items: center;
text-decoration: none;
color: black;
}

.link-span{
    position: absolute;
left: 0px;
top: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(253, 253, 253);
    display: inline-block;
    border-radius: 50%;
}


.span-span{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 14px;
    height: 14px;
    background-color: rgb(28, 248, 20);
    display: inline-block;
    border-radius: 50%;
}


.drop-down{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    border: black 1px solid;
list-style: none;
    position: absolute;
    left: 100%;
    top: 40px;
    width: 200px;
    background-color: rgb(249, 252, 255);
}

.drop-down-list-item-2:hover .drop-down-2{
    display: block;
}


.drop-down-list-item-3:hover .drop-down-3{
    display: block;
}


.drop-down li{
    margin-bottom: 5px;
    border-bottom: solid 1px black;
}


.drop-down-link{
    
    margin: 5px;
    text-decoration: none;
    color: rgb(97, 95, 95);
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 33px;
}


.drop-down-avatar{
    border-radius: 50%;
}

.drop-down-2{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    border: black 1px solid;
    display: none;
list-style: none;
    left: 100%;
    top: 20px;
    width: 200px;
    background-color: rgb(249, 252, 255);

   
}
/* ========================================================== */

.drop-down-2 li:hover{
    color: blue;
    font-size: 25px;
}


.drop-down-3{
    position: absolute;
    left: 100%;
    top: 80px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border: black 1px solid;
    display: none;
list-style: none;

    background-color: rgb(249, 252, 255);
}